
/******  Individual Card Settings   *****/
.character--card {
    width: 340px;
    margin: 16px;
    background: rgba(255,255,255, .7);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0, .4);
}


.character--card h3 {
    padding-bottom: 10px;
}

.character--card-content {
    display: flex;
    justify-content: space-around;
}

.character--card-stats {
    text-align: left;
    line-height: 1.6rem;
}

.character--card-stats span {
    font-weight: bold;
}


/****  Card List Settings *****/